# Introduction

Using this Python :

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer the questions

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.3.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ibm_db_sa) (1.3.9)

In [2]:
%load_ext sql

In [4]:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below: 

%sql ibm_db_sa://rkd86080:password*****@hostname*************************.databases.appdomain.cloud:port/BLUDB?security=SSL

'Connected: rkd86080@BLUDB'

## Problems



### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [5]:
%sql select count(*) as TOTAL_NUMBER_OF_CRIMES from CHICAGO_CRIME_DATA;

 * ibm_db_sa://rkd86080:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(533,)]



### Problem 2

##### List community areas with per capita income less than 11000.

In [6]:
%sql select COMMUNITY_AREA_NAME,PER_CAPITA_INCOME from CENSUS_DATA where PER_CAPITA_INCOME < 11000;

 * ibm_db_sa://rkd86080:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [19]:
%%sql 
select CASE_NUMBER,PRIMARY_TYPE,DESCRIPTION 
from CHICAGO_CRIME_DATA 
WHERE DESCRIPTION like '%MINOR%' or PRIMARY_TYPE LIKE '%MINOR%' ;

 * ibm_db_sa://rkd86080:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('HL266884', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [21]:
%%sql 
select id,case_number,DATE,primary_type,description
from CHICAGO_CRIME_DATA 
where PRIMARY_TYPE = 'KIDNAPPING' AND DESCRIPTION LIKE '%CHILD%' ;

 * ibm_db_sa://rkd86080:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [22]:
%%sql 
select DISTINCT(PRIMARY_TYPE) 
FROM CHICAGO_CRIME_DATA 
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * ibm_db_sa://rkd86080:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the average safety score for all types of schools.

In [23]:
%%sql
select "Elementary, Middle, or High School", avg(SAFETY_SCORE) as average_safety_score 
from CHICAGO_PUBLIC_SCHOOLS 
GROUP BY "Elementary, Middle, or High School";

 * ibm_db_sa://rkd86080:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [24]:
%%sql 
select COMMUNITY_AREA_NAME,PERCENT_HOUSEHOLDS_BELOW_POVERTY 
from CENSUS_DATA
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC 
LIMIT 5;

 * ibm_db_sa://rkd86080:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8

##### Which community area is most crime prone?

In [25]:
%%sql
select community_area_number, count(*) as Number_of_Crime 
from CHICAGO_CRIME_DATA
group by community_area_number
order by number_of_crime desc 
NULLS LAST
limit 1;

 * ibm_db_sa://rkd86080:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[(25, 43)]

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [26]:
%%sql
select community_area_name ,hardship_index
from CENSUS_DATA
where hardship_index = (select max(hardship_index) from CENSUS_DATA);

 * ibm_db_sa://rkd86080:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('Riverdale', 98)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [27]:
%%sql 
SELECT COMMUNITY_AREA_NAME 
FROM CENSUS_DATA 
WHERE COMMUNITY_AREA_NUMBER IN (SELECT COMMUNITY_AREA_NUMBER 
                                from CHICAGO_CRIME_DATA  
                                group by COMMUNITY_AREA_NUMBER order by COUNT(*) DESC 
                                LIMIT 1);

 * ibm_db_sa://rkd86080:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('Austin',)]